body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    background-color: #ffffff;
}

header {
    width: 100%;
    height: fit-content;
    padding: 5px;
    margin: 5px 50px 5px 50px;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    text-align: center;
}

.mainSection {
    min-width: 320px;
    padding: 5px;
    margin: 5px 50px;
    background-color: #ffffff;
    font-family: "Verdana", sans-serif;
    border: 2px solid #00000059;
    border-radius: 5px;
}

/*-----Colors------*/

#colorSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 320px;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

#colorSection h2 {
    width: 100%;
    padding: 5px;
    text-align: left;
}

.colorDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 320px;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}

#background {
    width: 215px;
    height: fit-content;
}

.colors {
    display: flex;
    flex-direction: row;
    flex-basis: 150px;
    justify-content: space-around;
    width: 14%;
    height: fit-content;
    margin: 5px;
    border: none;
    background-color: #ffffff;
    line-height: 2;
}

#purple {
    background-color: #7F54A1;
}

#yellow {
    background-color: #EDEA62;
}

#orange {
    background-color: #EE6823;
}

#blue {
    background-color: #2F70A6;
}

#green {
    background-color: #93C966;
}

#red {
    background-color: #B82025;
}

#beige {
    background-color: #FBF0DB;
}

/*-----Font------*/

#fontsSection {
    width:100%;
    height: fit-content;
    padding: 10px;
}

#fontsSection p {
    line-height: 3;
}

/*-----Text Style------*/

#textSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    padding: 10px;
}

#textSection h1 {
    width: 100%;
}

.textBox {
    flex-basis: 320px;
    height: auto;
    text-align: center;
    border: none;
}

.textBox h1 {
    font-size: 18px;
}

.textBox li {
    text-align: left;
} 

